@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Home/_Team.cshtml";
}


<h2>Team and Transfers</h2>

<div id="teamSelect">
    <div class="team">
        <h3>Your team</h3>
        <div  class="teamPlayer captain">joe</div>
        <div  class="teamPlayer">tom</div>
        <div  class="teamPlayer">dick</div>
    </div>


    <div class="allPlayers ">
        <h3>Available players</h3>
        <div  class="player ui-widget-content">harry</div>
        <div  class="player ui-widget-content">bert</div>
        <div  class="player ui-widget-content">fred</div>
        <div id="dragInstructions"></div>
    </div>
</div>




